* {
	margin: 0;
	padding: 0;
}

html,body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

@font-face {
    font-family: Bebas;
    src: url("bebas.ttf");
}
.console {
	background-color: white;
	color: #ff0000;
	font-weight: bold;
}

.menu {
	top: 20%;
	right: 25%;
	position: fixed;
	font-family: arial;
	color: #6F6F6F;
	width: 202px;
	height: 458px;
	text-align: center;
}

.menu_description {
	position: absolute;
	top: 20%;
	right: 10%;
	margin-top: 11px;
	margin-left: 11px;
}

.menu_description text01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgba(255,255,255,0.7);
	background: rgba(0,0,0,0.7);
	width: 80px;
	padding: 7px 12px;
	font-weight: 700;
	float: left;
	margin-bottom: 2px;
}

.menu_description text02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgba(0,0,0,0.7);
	background: rgba(255,255,255,0.7);
	width: 70px;
	padding: 7px 12px;
	float: left;
	margin-bottom: 2px;
}

.menu h1 {
	background: rgba(10,10,10,0.95);
	text-transform: uppercase;
	color: white;
	height: 50px;
	line-height: 50px;
	letter-spacing: 3px;
	font-size: 24px;
	color: #fff;
	font-family: Bebas !important;
	font-weight: 300;
	margin-bottom: 10px;
	border-radius: 3px;
	text-shadow: 1px 1px #000;
}

.choices {
	overflow-y: scroll;
	overflow-x: hidden;
}

.choices::-webkit-scrollbar { 
	display: none;
}

.choices > div {
	text-transform: uppercase;
	background: rgba(20,20,20,0.95);
	line-height: 40px;
	height: 40px;
	border: 0;
	color: #fff;
	margin-bottom: 10px;
	border-radius: 3px;
	letter-spacing: 1px;
	text-shadow: 1px 1px #000;
	border-bottom: 1px solid rgba(5,5,5,0.9);
	font-size: 12px;
}

.choices .selected {
	background: #ff0000;
	border-bottom: 1px solid rgba(5,5,5,0.9);
}

.wprompt {
	font-family: Arial;
	position: absolute;
	background-color: rgba(22, 22, 22, 0.863);
	color: #fff;
	width: 600px;
	height: 150px;
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	-webkit-border-radius: 5px;
}

.wprompt h1 {
	font-size: 14px;
	padding: 7px 0 12px 5px;
}

.wprompt textarea {
	outline: none !important;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid rgba(255,255,255,0.2);
	flex: 1;
	color: #ccc;
	font-size: 15px;
	width: 100%;
	padding: 10px;
	resize: none;
	box-sizing: border-box;
}

.wprompt textarea:focus {
	outline: none !important;
}

.wprompt .help {
	font-size: 12px;
	padding: 12px 0 7px 5px;
}

#calssrequest {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 160px;
    right: 0px;
    flex-direction: column;
    width: 14%;
    font-family: 'Roboto', sans-serif;
	display: flex;
}

#sucesso{
	display: flex;
    align-items: center;
    justify-content: center;
}

.boxprinpal{
	background: rgb(227, 227, 227);
	padding: 10px 15px 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
	border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
	box-shadow: 1px 1px 23px rgba(0, 0, 0, 0.274);
	max-width: 160px;
	border: 2px solid #ff0000;
}

.boxtext p:first-child{
	font-size: 12px;
    font-weight: 900;
    color: #ff0000;
}

.boxtext p:last-child{
	font-weight: bold;
	color: rgb(109, 109, 109);
	max-width: 265px;
}

.buttonsrequest{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: -23px;
}

.accept{
	width: 30%;
    color: white;
    background: #ff0000;
    padding: 8px;
    font-weight: 600;
    text-align: center;
    border-top-right-radius: .3rem;
}

.decline{
	width: 30%;
	color: white;
	background: #ff0000;
	padding: 8px;
	text-align: center;
    border-bottom-right-radius: .3rem;
	font-weight: 600;
}